
.header{
    height: 100px;
    line-height: 100px;
}

.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_item{
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav_list{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--secondry);
}


.nav_list:hover{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}


.active{
    color: var(--primary);
    border-bottom: 2px solid var(--primary); 
}


.button ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.button ul li {
    text-decoration: none;
}

.logo img{
    width: 137px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
}


.button span{
    padding: 8px 20px;
    background: var(--primary);
    color: #fff !important;
    border-radius: 5px;
}

.button span a{
    color: #fff !important;
}


.mobile_nav{
    display: none;
}


.mobile_nav span{
    font-size: 30px;
}

@media only screen and (max-width:992px) {
    .manu{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.53);
        display: none;
        z-index: 99;
    }


    .nav_item{
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background: #fff;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
        padding-top: 50px !important;
    }

    .nav_item li{
        margin: -17px;
        padding: 0;
    }


    .mobile_nav{
        display: block;
    }


    .mobil_show{
        display: block;
    }



}


@media only screen and (max-width:767px) {
    .nav_item{
        width: 90%;
    }
}